@charset "utf-8";

.service{
       max-width: 960px;
       background-color: #eeeeee;
       margin: 0 auto;
    
}

h1{
    color: green;
    text-align: center;
    margin: 24px 0;
   
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 30%;
  background-color: #FFF;
}

.card h2 {
  color: green;
   border-left: green 4px solid;
   margin-left: 8px;
   padding-left: 4px;
   margin: 4px 0;
}



@media (max-width: 400px) {
  .cards {
    flex-direction: column;
  }

  .card {
    width: 90%;
  }
}